# Entornos virtuales
venv/
env/
.env

# Archivos de Python y Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/

# Datos crudos y procesados (CRÍTICO)
data/
*.hdf5
*.csv
*.mat
*.npz

# Archivos del sistema operativo
.DS_Store
Thumbs.db
